:root{
    --clr-purple-300 :rgb(161, 157, 150); 
    --clr-purple-100 : rgb(55, 35, 57);
    --clr-yellow-300 : rgb(242, 215, 43);
    --clr-yellow-100 : rgb(132, 125, 83);
    --clr-white : #f3eaea;
    --clr-black-800 : rgb(19, 14, 20, 0.7);
    
    --br-small : 10px;
    --br-medium : 15px;
}
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    width: min(600px, 90%);
    min-width: 500px;
    margin: 0 auto 0;
    padding: 30px;
    background-color: var(--clr-purple-300);
    border-radius: var(--br-small);
    display: grid;
    grid-template-rows: 70px 50px 1fr;
    gap: 20px;
    > h1{
        color: var(--clr-purple-100);
        text-shadow: 1px 1px 3px #9c8d9b;
        text-align: center;
        font-variant: small-caps;
        position: relative;
        > span{
            display: inline-block;
            transform: rotate(40deg) translate(2px, 3px);
        }
        &::after{
            content: "?";
            position: absolute;
            background-image: linear-gradient(var(--clr-purple-100), var(--clr-purple-300));
            border-radius: 50%;
            inset: 42% 40.5% 25% 55%;
        }
    }
    & > button{
        font-size: clamp(1rem, 0.8rem + 1vw, 2.5rem);
        color: var(--clr-purple-100);
        background-color: var(--clr-yellow-300);
        box-shadow: 1px 1px 5px var(--clr-purple-100);
        border-radius: var(--br-small);
        border: none;
        > span{
            font-weight: 900;
        }
    }
}

.main{
    background-image: linear-gradient(var(--clr-purple-300), var(--clr-yellow-100), var(--clr-purple-300));
    & > h2{
        border-bottom: 2px solid var(--clr-purple-100);
        opacity: 0.7;
    }
}
.title-read{
    margin-top: 40px;
}
.unread, .read{
    min-height: 100px;
    border-radius: var(--br-small);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 10px;
}

.book-container{
    border: 2px solid #433;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    transition: 400ms;
    border: none;
    border-radius: var(--br-small);
    box-shadow: 1px 1px 5px rgba( 0 0 0 / 0.5);
    & > div{
        position: absolute;
        inset: 0;
        border: none;
        &:last-child{
            background: rgba(0 0 0 / 0.7);
            transform: translate(-100%);
            transition: 300ms;
            display: grid;
            align-content : end;
            grid-template-rows: 1fr repeat(4, 50px);
            color: var(--clr-yellow-100);
            text-align: center;
            color: var(--clr-white);
            padding: 10px;
            & > h3{
                align-self: flex-end;
                outline: 2px solid var(--clr-white);
                outline-offset: 4px;
                padding: 5px 15px;
                border-radius: var(--br-small);
                background-color: var(--clr-black-800);
                & + *{
                    margin-top: 20px;
                }
            }
            & > button{
                color: var(--clr-purple-100);
                border-radius: var(--br-small);
            }
        }
    }
    &:hover{
        transform: scale(1.02);
    }
    &:hover > div:last-child{
        transform: translate(0px);
    }
}
dialog{
    margin: 0 auto 0;
}
form{
    padding: 20px;
    display: grid;
    row-gap: 20px;
    min-height: 300px;
    
    & > div{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
form label{
    
}
form input{
    border-radius: var(--br-small);
    min-height: 40px;
}
::backdrop{
    background-color: rgba(0 0 0 / 0.7);
}